@yellowish: #ffd998;

.button {
    display: inline-block;
    background: @yellowish;
    height: 40%;
    padding: 10px 20px;
    border-radius: 6px;

    img {
        height: 85%;
        vertical-align: middle;
    }
}
