@yellowish: #ffd998;

.witch-night {
    height: 100%;
    background: url("../imgs/bg.png");
    background-size: cover;
    text-align: center;

    .dying-message {
        height: 90px;
        margin-top: 10%;
    }

    .buttons {
        margin-top: 8%;
        display: flex;
        justify-content: center;

        span {
            flex: auto;
        }
    }
}
